/* icon
----------------------------------------------------------------- */

// ハンバーガーメニュー
.ico_humbarger {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 2px;
  text-align: center;
  display: block;
}
.ico_humbarger--second {
  top: 12px;
}
.ico_humbarger--third {
  top: 19px;
}
