/* header
----------------------------------------------------------------- */
.l-header {
  @include mobile($break-small) {
    position: relative;
    width: 100%;
  }
  @include desktop($break-small) {
    background-image: linear-gradient(to right, #dcd9d9 30%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 12px 1px;
    background-repeat: repeat-x;
    position: relative;
    .inner {
      position: relative;
    }
  }
}
