/* header
----------------------------------------------------------------- */
.l-header {
  @include mobile($break-small) {
    position: relative;
    width: 100%;
  }
  @include desktop($break-small) {
    .inner {
      padding: 20px 0;
      position: relative;
    }
  }
}
