@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/earlyaccess/hannari.css);
@import url(http://fonts.googleapis.com/earlyaccess/kokoro.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* mediaqueries
----------------------------------------------------------------- */
/* base
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
html body {
  color: #111;
  font-family: 'Droid Sans','Source Sans Pro',"Yu Gothic", YuGothic,'Noto Sans Japanese','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 48em) {
  html body a, html body img, html body .hover {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  html body a:hover, html body .hover:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}

/* header
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .l-header {
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .l-header {
    background-image: linear-gradient(to right, #dcd9d9 30%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 12px 1px;
    background-repeat: repeat-x;
    position: relative;
  }
  .l-header .inner {
    position: relative;
  }
}

/* content
----------------------------------------------------------------- */
/* main
----------------------------------------------------------------- */
@media screen and (min-width: 48em) {
  .l-main {
    float: left;
    width: 800px;
  }
}

/* side
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .l-side {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .l-side {
    float: right;
    margin-left: 20px;
    width: 280px;
  }
}

/* footer
----------------------------------------------------------------- */
.l-footer {
  background: #F3F2F0;
}

/* breadcrumbs
----------------------------------------------------------------- */
.breadcrumbs {
  margin-bottom: 2.5em;
  margin-top: -2.8em;
}
@media screen and (max-width: 48em) {
  .breadcrumbs {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .breadcrumbs {
    font-size: 0.8rem;
  }
}
.breadcrumbs div {
  padding-left: 12px;
}
.breadcrumbs div a {
  color: #333;
  padding-right: 15px;
  position: relative;
}
.breadcrumbs div a:hover {
  text-decoration: none;
}
.breadcrumbs div a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 0;
  display: block;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 0;
  width: 6px;
  height: 6px;
  border-top: 1px solid #c0b8b6;
  border-right: 1px solid #c0b8b6;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.breadcrumbs div:first-child {
  padding-left: 0;
}
.breadcrumbs div .home {
  background-image: url(/wp/wp-content/themes/misawaya/images/common/ico_breadcrumbs_home.png);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 0 -1px;
  padding-left: 22px;
}

/* copyright
----------------------------------------------------------------- */
.footer-copyright {
  font-size: 0.9rem;
  margin-top: 30px;
  padding-bottom: 20px;
}

/* footernav
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .footer-nav {
    letter-spacing: -.40em;
    padding: 25px 0 0;
  }
  .footer-nav .footer-nav__list {
    border-bottom: 10px solid #F3F2F0;
    display: block;
    width: 100%;
  }
  .footer-nav .footer-nav__list .footer-nav__link {
    background: #fff;
    color: #111;
    display: block;
    font-size: 0.8rem;
    letter-spacing: normal;
    margin: 0 15px;
    padding: 13px 0;
    position: relative;
  }
  .footer-nav .footer-nav__list .footer-nav__link:after {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    content: "";
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: block;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media screen and (min-width: 48em) {
  .footer-nav {
    padding: 30px 0 0;
  }
  .footer-nav .footer-nav__list {
    display: inline-block;
  }
  .footer-nav .footer-nav__list .footer-nav__link {
    color: #111;
    display: block;
    font-size: 0.8rem;
    padding: 10px;
  }
}
/* navigation
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .header-button {
    height: 25px;
    right: 15px;
    top: 15px;
    padding: 5px;
    position: absolute;
    width: 30px;
  }

  .sp-header-fixed {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    padding: 10px 15px 5px;
    top: -80px;
    width: 100%;
    z-index: 10;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sp-header-fixed .header-button {
    top: 20px;
  }
  .sp-header-fixed .logo {
    padding: 3px 0 0;
  }
  .sp-header-fixed .logo .logo--primary {
    margin: 2px auto 0;
    width: 40%;
  }

  .sp-header-fixed.is-active {
    top: 0;
  }
}
@media screen and (min-width: 48em) {
  .sp-header-fixed {
    display: none;
  }

  .pc-header-fixed {
    background-image: none !important;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 0 3.5em;
    padding: 13px 0;
    position: fixed;
    top: -80px;
    z-index: 100;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }

  .js-fixed.is-active {
    top: 0;
  }
}
@media screen and (max-width: 48em) {
  .nav-global {
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    position: fixed;
    right: -50%;
    top: 0;
    -moz-box-shadow: 5px 0px 10px #888;
    -webkit-box-shadow: 5px 0px 10px #888;
    box-shadow: 5px 0px 10px #888;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 50%;
    z-index: 100;
  }
  .nav-global .nav-global__block {
    height: 100%;
  }
  .nav-global .nav-global__block .nav-global__list--title {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 10px 15px;
  }
  .nav-global .nav-global__block .nav-global__list--title .nav-global__text--title {
    font-size: 1.2rem;
  }
  .nav-global .nav-global__block .nav-global__list--title .nav-global__button-close {
    font-size: 2.8rem;
    line-height: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .nav-global .nav-global__block .nav-global__link {
    border-bottom: 1px solid #eee;
    clear: both;
    display: block;
    padding: 10px 15px;
  }
  .nav-global .nav-global__block .nav-global__link .nav-global__text--secondary {
    display: none;
  }

  .nav-global--fixed {
    display: none;
  }

  .js-slide.is-active {
    right: 0;
  }

  .js-overlay.is-active {
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .nav-global {
    background-image: linear-gradient(to right, #dcd9d9 30%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 12px 1px;
    background-repeat: repeat-x;
    margin: 0 0 3.5em;
    padding: 13px 0;
    text-align: center;
  }
  .nav-global .nav-global__list {
    display: inline-block;
    margin: 0 35px;
  }
  .nav-global .nav-global__list .nav-global__link {
    color: #333;
    display: block;
  }
  .nav-global .nav-global__list .nav-global__link:hover {
    color: #333;
  }
  .nav-global .nav-global__list .nav-global__link .nav-global__text--secondary {
    color: #8e8577;
    display: block;
    font-size: 0.85rem;
  }
  .nav-global .nav-global__list--title {
    display: none;
  }
}
/* pagination
----------------------------------------------------------------- */
.pagination {
  clear: both;
  line-height: 14px;
  margin: 4em 0;
  position: relative;
}
.pagination span, .pagination a {
  border-radius: 2px;
  display: block;
  float: left;
  width: auto;
  margin: 2px 8px 2px 0;
  padding: 9px 12px;
  background-color: #fff;
  color: #555;
  text-decoration: none;
}
.pagination a {
  border: 1px solid #ccc;
}
.pagination a:hover {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  opacity: 1;
}
.pagination .current {
  padding: 9px 12px;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}

/* pager
----------------------------------------------------------------- */
.pager {
  clear: both;
  margin: 0 0 6em;
}
.pager .next a {
  border: 1px solid #888;
  border-radius: 2px;
  color: #333;
  display: block;
  padding: 10px 25px 10px 10px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 92%;
}
.pager .next a:after {
  content: "";
  position: absolute;
  right: 18px;
  top: 0;
  bottom: 0;
  display: block;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 0;
  width: 9px;
  height: 9px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pager .prev a {
  border: 1px solid #888;
  border-radius: 2px;
  color: #333;
  display: block;
  padding: 8px 10px 8px 18px;
  position: relative;
  margin: 30px auto 0;
  text-align: center;
  width: 20%;
}
.pager .prev a:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  display: block;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 0;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (max-width: 48em) {
  .pager .prev a {
    margin: 20px auto 0;
    width: 50%;
  }
}

/* logo
----------------------------------------------------------------- */
@media screen and (min-width: 48em) {
  .logo {
    line-height: 1.6;
    max-width: 280px;
    margin: 0 0 20px;
  }
}
.logo .logo--primary {
  margin-bottom: 0;
}
@media screen and (max-width: 48em) {
  .logo .logo--primary {
    font-size: 1.3rem;
    margin: 5px auto 15px;
    padding: 0 20px 0;
    width: 60%;
  }
}
@media screen and (min-width: 48em) {
  .logo .logo--primary {
    font-size: 2.5rem;
    padding: 0 30px;
  }
}
@media screen and (max-width: 48em) {
  .logo .logo--secondary {
    font-size: 0.8rem;
    margin: 15px 0 12px;
  }
}
@media screen and (min-width: 48em) {
  .logo .logo--secondary {
    font-size: .75rem;
    margin-bottom: 12px;
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 48em) {
  .logo-footer {
    padding-top: 10px;
  }
  .logo-footer .logo-footer__image {
    margin: 20px auto 10px;
    width: 40px;
  }
}
@media screen and (min-width: 48em) {
  .logo-footer {
    padding-top: 20px;
  }
  .logo-footer .logo-footer__image {
    margin: 20px auto 10px;
    width: 40px;
  }
}
/* title
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .category-title {
    font-size: 1.2rem;
    padding: 20px 15px 10px;
  }
}
@media screen and (min-width: 48em) {
  .category-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 48em) {
  .section-title {
    padding: 0 15px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 48em) {
  .section-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 48em) {
  .page-title {
    font-size: 1.6rem;
    padding: 0 0 15px;
  }
}
@media screen and (min-width: 48em) {
  .page-title {
    font-size: 1.8rem;
    margin-bottom: 0.8em;
  }
}

/* top-article
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .top-article .top-article__item {
    border-bottom: 1px solid #eee;
    padding: 15px;
  }
  .top-article .top-article__item .top-article__image {
    width: 35%;
  }
  .top-article .top-article__item .top-article__text {
    width: 61%;
  }
  .top-article .top-article__item .top-article__text .top-article__text--property {
    font-size: 0.9rem;
    margin: 0 0 5px;
  }
  .top-article .top-article__item .top-article__text .top-article__text--property .top-article__link--category {
    float: right;
    font-size: 0.7rem;
    border-radius: 2px;
    color: #fff;
    margin-left: 8px;
    margin-top: 1px;
    padding: 0 5px;
  }
  .top-article .top-article__item .top-article__text .top-article__link--title {
    color: #111;
  }
}
@media screen and (min-width: 48em) {
  .top-article {
    margin-bottom: 6em;
  }
  .top-article .top-article__item {
    margin-bottom: 30px;
  }
  .top-article .top-article__item .top-article__image {
    width: 38%;
  }
  .top-article .top-article__item .top-article__text {
    width: 59%;
  }
  .top-article .top-article__item .top-article__text .top-article__text--property {
    font-size: 0.9rem;
    margin: 0 0 15px;
  }
  .top-article .top-article__item .top-article__text .top-article__text--property .top-article__link--category {
    float: right;
    font-size: 0.75rem;
    border-radius: 2px;
    color: #fff;
    margin-left: 8px;
    padding: 1px 6px;
  }
  .top-article .top-article__item .top-article__text .top-article__link--title {
    color: #111;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.top-article__link--misawaya {
  background-color: #f3d45b;
}

.top-article__link--life {
  background-color: #ffad7b;
}

.top-article__link--local {
  background-color: #80cee0;
}

.top-article__link--food {
  background-color: #ff9796;
}

.top-article__link--info {
  background-color: #99d6ab;
}

/* single-article
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .single-article .single-article--title {
    font-size: 1.6rem;
    padding: 10px 15px;
  }
  .single-article .single-article--property {
    padding: 5px 15px;
    position: relative;
  }
  .single-article .single-article--property .single-article__text--time {
    margin-right: 18px;
  }
  .single-article .single-article--property .single-article__link--tag {
    color: #111;
    font-size: 0.92rem;
    display: block;
    margin-top: 2px;
  }
  .single-article .single-article--property .single-article__link--category {
    font-size: 0.75rem;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    position: absolute;
    right: 15px;
    top: 0;
    margin: 5px 0;
  }
  .single-article .single-article--content {
    padding: 10px 15px;
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 6em;
  }
  .single-article .single-article--content h2 {
    border-left: 2px solid #111;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 2em 0 0.5em;
    padding: 0 15px;
  }
  .single-article .single-article--content h3 {
    border-left: 1px solid #222;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 1.5em 0 0.5em;
    padding-left: 15px;
  }
  .single-article .single-article--content p {
    margin-bottom: 1.5em;
  }
  .single-article .single-article--content img {
    margin-top: 0.5em;
  }
  .single-article .single-article--content strong {
    font-weight: bold;
  }
}
@media screen and (min-width: 48em) {
  .single-article .single-article--title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.8em;
  }
  .single-article .single-article--property {
    margin: 0 0 3em;
  }
  .single-article .single-article--property .single-article__text--time {
    margin-right: 18px;
  }
  .single-article .single-article--property .single-article__link--tag {
    border-left: 1px solid #888;
    color: #111;
    font-size: 0.92rem;
    padding-left: 18px;
  }
  .single-article .single-article--property .single-article__link--category {
    font-size: 0.75rem;
    float: right;
    border-radius: 2px;
    color: #fff;
    padding: 2px 8px;
  }
  .single-article .single-article--content {
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 6em;
  }
  .single-article .single-article--content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 2em 0 1.5em;
    border-left: 2px solid #111;
    padding: 0 15px;
  }
  .single-article .single-article--content h3 {
    border-left: 1px solid #222;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 15px;
    margin: 2em 0 1.5em;
  }
  .single-article .single-article--content p {
    margin-bottom: 1.5em;
  }
  .single-article .single-article--content img {
    margin-top: 0.8em;
  }
  .single-article .single-article--content strong {
    font-weight: bold;
  }
}
.single-article__link--misawaya {
  background-color: #f3d45b;
}

.single-article__link--life {
  background-color: #ffad7b;
}

.single-article__link--local {
  background-color: #80cee0;
}

.single-article__link--food {
  background-color: #ff9796;
}

.single-article__link--info {
  background-color: #99d6ab;
}

/* page
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .page .l-main {
    padding: 10px 15px;
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 6em;
  }
  .page .l-main h1 {
    font-weight: bold;
  }
  .page .l-main h2 {
    border-left: 2px solid #111;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2em 0 0.5em;
    padding: 0 15px;
  }
  .page .l-main h3 {
    border-left: 1px solid #222;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1.5em 0 0.5em;
    padding-left: 15px;
  }
  .page .l-main p {
    margin-bottom: 1.5em;
  }
  .page .l-main img {
    margin-top: 0.5em;
  }
  .page .l-main strong {
    font-weight: bold;
  }
}
@media screen and (min-width: 48em) {
  .page .l-main {
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 6em;
  }
  .page .l-main h1 {
    font-weight: bold;
  }
  .page .l-main h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2em 0 1em;
    border-left: 2px solid #111;
    padding: 0 15px;
  }
  .page .l-main h3 {
    border-left: 1px solid #222;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 15px;
    margin: 1.5em 0 0.8em;
  }
  .page .l-main p {
    margin-bottom: 1.5em;
  }
  .page .l-main img {
    margin-top: 0.8em;
  }
  .page .l-main strong {
    font-weight: bold;
  }
  .page .l-main .embed-map iframe {
    pointer-events: none;
  }
}
/* archive-article
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .archive-article .archive-article__item {
    border-bottom: 1px solid #eee;
    padding: 15px;
  }
  .archive-article .archive-article__item .archive-article__image {
    width: 35%;
  }
  .archive-article .archive-article__item .archive-article__text {
    width: 61%;
  }
  .archive-article .archive-article__item .archive-article__text .archive-article__text--property {
    margin: 0 0 5px;
  }
  .archive-article .archive-article__item .archive-article__text .archive-article__text--property .archive-article__link--category {
    float: right;
    font-size: 0.7rem;
    border-radius: 2px;
    color: #fff;
    margin-left: 10px;
    margin-top: 1px;
    padding: 0 5px;
  }
  .archive-article .archive-article__item .archive-article__link--title {
    color: #111;
  }
}
@media screen and (min-width: 48em) {
  .archive-article {
    margin-bottom: 5em;
  }
  .archive-article .archive-article__item {
    margin-bottom: 30px;
  }
  .archive-article .archive-article__item .archive-article__image {
    width: 38%;
  }
  .archive-article .archive-article__item .archive-article__text {
    width: 59%;
  }
  .archive-article .archive-article__item .archive-article__text .archive-article__text--property {
    font-size: 0.9rem;
    margin: 0 0 15px;
  }
  .archive-article .archive-article__item .archive-article__text .archive-article__text--property .archive-article__link--category {
    float: right;
    font-size: 0.75rem;
    border-radius: 2px;
    color: #fff;
    margin-left: 10px;
    padding: 1px 6px;
  }
  .archive-article .archive-article__item .archive-article__text .archive-article__link--title {
    color: #111;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.archive-article__link--misawaya {
  background-color: #f3d45b;
}

.archive-article__link--life {
  background-color: #ffad7b;
}

.archive-article__link--local {
  background-color: #80cee0;
}

.archive-article__link--food {
  background-color: #ff9796;
}

.archive-article__link--info {
  background-color: #99d6ab;
}

/* search
----------------------------------------------------------------- */
#search-2 {
  margin-bottom: 2em;
}
#search-2 #s {
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 96%;
}
#search-2 #searchsubmit {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  background-image: url(/wp/wp-content/themes/misawaya/images/common/ico_search_bl.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: 9999px;
  border-radius: 0 3px 3px 0;
  border: none;
  margin-left: -52px;
  padding: 6px;
  width: 16%;
}
#search-2 #searchsubmit:hover {
  opacity: 0.7;
}

@media screen and (max-width: 48em) {
  #search-2 {
    display: none;
  }
}
/* social
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .header-social li {
    display: inline-block;
    margin: 30px 5px;
    vertical-align: top;
  }
  .header-social li .header-social__link {
    background: #222;
    border-radius: 50%;
    display: block;
    padding-top: 7px;
    height: 32px;
    width: 32px;
  }
  .header-social li .header-social__link .header-social__image {
    width: 60%;
  }

  .footer-social {
    margin: 20px 0 50px;
  }
  .footer-social .footer-social__title {
    font-size: 1.4rem;
  }
  .footer-social li {
    display: inline-block;
    margin: 14px 18px 0;
    vertical-align: top;
  }
  .footer-social li .footer-social__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: top;
  }
  .footer-social li .footer-social__link .footer-social__image {
    width: 100%;
  }

  .social-pc {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .header-social {
    position: absolute;
    right: 0;
  }
  .header-social li {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
  }
  .header-social li .header-social__link {
    display: block;
    margin-top: -4px;
    height: 28px;
    width: 28px;
  }
  .header-social li .header-social__link .header-social__image {
    width: 100%;
  }

  .footer-social {
    margin: 20px 0 50px;
  }
  .footer-social .footer-social__title {
    font-size: 1.4rem;
  }
  .footer-social li {
    display: inline-block;
    margin: 14px 18px 0;
    vertical-align: top;
  }
  .footer-social li .footer-social__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: top;
  }
  .footer-social li .footer-social__link .footer-social__image {
    width: 100%;
  }
}
/* widget
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .widget .widget__text--title {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    padding: 20px 15px 10px;
  }
  .widget li {
    border-bottom: 1px solid #eee;
    clear: both;
  }
  .widget li a {
    color: #111;
    display: block;
    padding: 15px;
    position: relative;
  }
  .widget li a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 100px;
  }
  .widget li a .title {
    display: inline-block;
    width: 60%;
  }
  .widget li a:after {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    content: "";
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: block;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .widget .wpp-list .wpp-list__list {
    display: block;
    padding: 15px 20px 15px 15px;
    position: relative;
  }
  .widget .wpp-list .wpp-list__list a {
    display: inherit;
    padding: 0;
    position: inherit;
  }
  .widget .wpp-list .wpp-list__list a:after {
    display: none;
  }
  .widget .wpp-list .wpp-list__list:after {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    content: "";
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: block;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .widget .textwidget {
    padding: 15px;
  }
  .widget .textwidget .widget-about__image {
    float: left;
    margin: 0 15px 5px 0;
    width: 32%;
  }
  .widget .tagcloud {
    padding: 10px 15px;
  }
  .widget .tagcloud a {
    color: #333;
    display: inline-block;
    font-size: .8rem !important;
    background: #f6f6f6;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 2px 8px;
    white-space: nowrap;
  }
  .widget .tagcloud .tag-link-15 {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .widget {
    margin-bottom: 2em;
  }
  .widget .widget__text--title {
    background-image: url(/wp/wp-content/themes/misawaya/images/common/ico_kome_bl.png);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: left center;
    font-size: 1.1rem;
    margin-bottom: 0.4em;
    padding-left: 14px;
  }
  .widget li {
    border-bottom: 1px solid #eee;
    clear: both;
    font-size: 0.9rem;
  }
  .widget li a {
    color: #111;
    display: block;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 2px;
  }
  .widget li a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 100px;
  }
  .widget li a .title {
    display: inline-block;
    float: right;
    margin-top: 2px;
    margin-left: 2%;
    width: 58%;
  }
  .widget li:first-child {
    border-top: 1px solid #eee;
  }
  .widget li:first-child a {
    padding-top: 0.9em;
  }
  .widget .textwidget {
    font-size: .9rem;
  }
  .widget .textwidget .widget-about__image {
    float: left;
    margin: 0 15px 5px 0;
    width: 30%;
  }
  .widget .wpp-list .wpp-list__list a {
    display: inline-block;
  }
  .widget .wpp-list .wpp-list__list .wpp-post-title {
    width: 58%;
    vertical-align: top;
  }
  .widget .tagcloud a {
    color: #333;
    display: inline-block;
    font-size: .8rem !important;
    background: #f6f6f6;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 2px 8px;
    white-space: nowrap;
  }
  .widget .tagcloud .tag-link-15 {
    display: none;
  }
}
/* related
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .article-related {
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .article-related .article-related__item {
    padding: 10px 15px;
  }
  .article-related .article-related__item .article-related__image {
    width: 35%;
  }
  .article-related .article-related__item .article-related__text {
    float: right;
    width: 61%;
  }
  .article-related .article-related__item .article-related__text .article-related__link--title {
    color: #111;
    display: block;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 48em) {
  .article-related__item {
    border-bottom: 1px solid #eee;
    margin: 0 0 20px;
    padding: 0 2px;
    width: 100%;
    vertical-align: top;
  }
  .article-related__item .article-related__image {
    display: block;
    float: left;
    margin: 0 15px 20px 0;
    width: 20%;
  }
  .article-related__item .article-related__link--title {
    color: #111;
    display: block;
    font-size: 1.2rem;
  }
}
/* social
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .instagram {
    padding-bottom: 2em;
  }
  .instagram .instagram__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .instagram .instagram__title .instagram__icon {
    display: block;
    margin: 0 auto;
    width: 35px;
  }
  .instagram .instagram__block {
    line-height: 0;
  }
  .instagram .instagram__block .instagram__list {
    display: inline-block;
    width: 33.3333%;
  }
  .instagram .instagram__block .instagram__list .instagram__link {
    display: block;
  }
}
@media screen and (min-width: 48em) {
  .instagram {
    padding-bottom: 3em;
  }
  .instagram .instagram__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .instagram .instagram__title .instagram__icon {
    display: block;
    margin: 0 auto;
    width: 35px;
  }
  .instagram .instagram__block {
    line-height: 0;
  }
  .instagram .instagram__block .instagram__list {
    display: inline-block;
    width: 230px;
  }
  .instagram .instagram__block .instagram__list .instagram__link {
    display: block;
  }

  /* slider  */
  .slideIco {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .ico_ar_r {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    right: 40%;
  }

  .ico_ar_l {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    left: 40%;
  }

  .slideFrame {
    position: relative;
    /*margin: 0 20px;*/
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    height: 230px;
  }

  .slideCell {
    display: block;
    float: left;
    height: 100%;
    color: #333;
  }

  /* controller */
  .slideCtrl {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    cursor: default;
    font-size: 12px;
    height: 100%;
    padding: 0 4px;
    position: absolute;
    top: 0;
    width: 80px;
    text-align: center;
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .slideCtrl.left {
    left: -5px;
  }

  .slideCtrl.right {
    right: -5px;
  }
}
/* twitter
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .twitter {
    margin: -10px 15px 15px;
  }
  .twitter .twitter-timeline__wrapper {
    border: 1px solid #eee;
    margin: 0 0 15px;
  }
  .twitter .twitter-timeline__wrapper .timeline-Body {
    border-bottom: none;
  }
}
@media screen and (min-width: 48em) {
  .twitter {
    margin-top: -1em;
  }
  .twitter .twitter-timeline__wrapper {
    border: 1px solid #eee;
    margin-bottom: 10px;
  }
  .twitter .twitter-timeline__wrapper .timeline-Body {
    border-bottom: none;
  }
}
/* visual
----------------------------------------------------------------- */
@media screen and (min-width: 48em) {
  .visual {
    margin-top: -10px !important;
  }
  .visual img {
    margin: 0 auto 50px;
  }
}
/* align
----------------------------------------------------------------- */
@media screen and (min-width: 48em) {
  .desktop_txt_center {
    text-align: center;
  }
}
@media screen and (max-width: 48em) {
  .desktop_txt_center {
    text-align: left;
  }
}

@media screen and (min-width: 48em) {
  .mobile_txt_center {
    text-align: left;
  }
}
@media screen and (max-width: 48em) {
  .mobile_txt_center {
    text-align: center;
  }
}

.va-10 {
  vertical-align: -10%;
}

.va-15 {
  vertical-align: -15%;
}

.va-20 {
  vertical-align: -20%;
}

.va-30 {
  vertical-align: -30%;
}

.va-35 {
  vertical-align: -35%;
}

.va-40 {
  vertical-align: -40%;
}

/* border
----------------------------------------------------------------- */
.bor_t_1 {
  border-top: 1px solid #eee;
}

.bor_r_1 {
  border-right: 1px solid #eee;
}

.bor_b_1 {
  border-bottom: 1px solid #eee;
}

.bor_l_1 {
  border-left: 1px solid #eee;
}

/* icon
----------------------------------------------------------------- */
.ico_humbarger {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 2px;
  text-align: center;
  display: block;
}

.ico_humbarger--second {
  top: 12px;
}

.ico_humbarger--third {
  top: 19px;
}

/* clear
----------------------------------------------------------------- */
.clearboth {
  clear: both;
}

/* container
----------------------------------------------------------------- */
@media screen and (max-width: 48em) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
}

/* margin
----------------------------------------------------------------- */
.mar_auto {
  margin: 0 auto;
}

.mar_0 {
  margin: 0;
}

.mar_t_0 {
  margin-top: 0;
}

.mar_r_0 {
  margin-right: 0;
}

.mar_b_0 {
  margin-bottom: 0;
}

.mar_l_0 {
  margin-left: 0;
}

.mar_5 {
  margin: 5px;
}

.mar_t_5 {
  margin-top: 5px;
}

.mar_r_5 {
  margin-right: 5px;
}

.mar_b_5 {
  margin-bottom: 5px;
}

.mar_l_5 {
  margin-left: 5px;
}

.mar_t_10 {
  margin-top: 10px;
}

.mar_r_10 {
  margin-right: 10px;
}

.mar_b_10 {
  margin-bottom: 10px;
}

.mar_l_10 {
  margin-left: 10px;
}

.mar_t_20 {
  margin-top: 20px;
}

.mar_r_20 {
  margin-right: 20px;
}

.mar_b_20 {
  margin-bottom: 20px;
}

.mar_l_20 {
  margin-left: 20px;
}

.mar_t_30 {
  margin-top: 30px;
}

.mar_r_30 {
  margin-right: 30px;
}

.mar_b_30 {
  margin-bottom: 30px;
}

.mar_l_30 {
  margin-left: 30px;
}

.mar_t_50 {
  margin-top: 50px;
}

.mar_r_50 {
  margin-right: 50px;
}

.mar_b_50 {
  margin-bottom: 50px;
}

.mar_l_50 {
  margin-left: 50px;
}

@media screen and (min-width: 48em) {
  .mar_lr_m1 {
    margin: 0 -1%;
  }
}

.pad_v_10 {
  padding: 10px 0;
}

.pad_v_20 {
  padding: 20px 0;
}

.pad_v_30 {
  padding: 30px 0;
}

.pad_0 {
  padding: 0;
}

.pad_t_0 {
  padding-top: 0;
}

.pad_r_0 {
  padding-right: 0;
}

.pad_b_0 {
  padding-bottom: 0;
}

.pad_l_0 {
  padding-left: 0;
}

.pad_5 {
  padding: 5px;
}

.pad_t_5 {
  padding-top: 5px;
}

.pad_r_5 {
  padding-right: 5px;
}

.pad_b_5 {
  padding-bottom: 5px;
}

.pad_l_5 {
  padding-left: 5px;
}

.pad_10 {
  padding: 10px;
}

.pad_15 {
  padding: 15px;
}

.pad_t_10 {
  padding-top: 10px;
}

.pad_r_10 {
  padding-right: 10px;
}

.pad_b_10 {
  padding-bottom: 10px;
}

.pad_l_10 {
  padding-left: 10px;
}

.pad_20 {
  padding: 20px;
}

.pad_t_20 {
  padding-top: 20px;
}

.pad_r_20 {
  padding-right: 20px;
}

.pad_b_20 {
  padding-bottom: 20px;
}

.pad_l_20 {
  padding-left: 20px;
}

.pad_30 {
  padding: 30px;
}

.pad_t_30 {
  padding-top: 30px;
}

.pad_r_30 {
  padding-right: 30px;
}

.pad_b_30 {
  padding-bottom: 30px;
}

.pad_l_30 {
  padding-left: 30px;
}

.sp_pad_box {
  padding: 0 15px 15px;
}

/* font
----------------------------------------------------------------- */
.txt_fwn {
  font-weight: normal;
}

.txt_fwb {
  font-weight: bold;
}

.txt_10 {
  font-size: 10px;
}

.txt_12 {
  font-size: 12px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_18 {
  font-size: 18px;
}

.txt_20 {
  font-size: 20px;
}

.txt_24 {
  font-size: 24px;
}

.txt_28 {
  font-size: 28px;
}

.txt_c_333 {
  color: #333;
}

.txt_c_888 {
  color: #888;
}

.font-handwrite {
  font-family: 'Courgette', cursive;
}

.font-selif {
  font-family: 'Alegreya', serif;
}

.font-min {
  font-family: 'Kokoro',"游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","Hiragino Mincho ProN","ＭＳ Ｐ明朝",serif;
}

.font-display {
  letter-spacing: 0.06em;
  font-family: 'Ruluko', sans-serif;
}

/* button
----------------------------------------------------------------- */
.button--more {
  border: 1px solid #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  display: block;
  margin: 0 auto;
  padding: 12px 40px 12px 30px;
  position: relative;
  width: 250px;
}
.button--more:after {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  display: block;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button--more:hover {
  background: #eee;
  border: 1px solid #eee;
  color: #555;
  opacity: 1;
}
